body {
    font-family: Arial, sans-serif;
    background-color: #e5e7eb;
    margin: 0;
    padding: 0;
  }
  
  .game-page {
    min-height: 100vh;
    padding: 1%;
    text-align: center;
  }
  
  .game-header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .game-card {
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .game-card:hover {
    transform: scale(1.05);
  }
  
  .game-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .game-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color:black;
  }
  
  .game-description {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
  }
  